        

.hidden {
    visibility: hidden;
}

.shown {
  visibility: visible;
}

.mainForm {
  border:2px solid;
  border-radius:25px;
  padding: 10px;
}

.expBar0 {
  fill: #333333;
}

.expBar1 {
  fill: #4C4C4C;
}

.expBar2 {
  fill: #666666;
}

.expBar3 {
  fill: #808080;
}

.incBar0 {
  fill: #00FF00;
}

.incBar1 {
  fill: #00CC00;
}

.incBar2 {
  fill: #006600;
}

.expChart  text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.incChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}